@import '../../style/variable.scss';
.container{
    padding-top: 92px;
    .goodsWrap{
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        max-height: calc(100vh - 92px);
        overflow-y: scroll;
        .goodsItem{
            box-sizing: border-box;
            width: 50%;
            padding: 10px;
            .goodsPicWrap {
                width: 200px;
                min-height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}