@import '../../style/variable.scss';
.contaner{
    .swipeWrap{

    }
    .listWrap{
        .list{
            display: flex;
            align-items: center;
            padding: 10px;
            .imgWrap{
                width: 30%;
                padding: 20px;
            }
            .intro{
                width: 70%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center; 
                .itemName{
                    width: 100%;
                    font-size: 28px;
                    font-weight: 600;
                    .discount{
                        font-size: 24px;
                        margin-left: 10px;
                        color: $theme;
                    }
                }
                .desc{
                    font-size: 20px;
                    color: #999999;
                    text-overflow: -o-ellipsis-lastline;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .itemFooter{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin-top: 15px;
                    .priceWrap{
                        .nowPrice{
                            color: $theme;
                            font-size: 32px;
                        }
                        .oldPrice{
                            font-size: 18px;
                            color:#999999;
                            text-decoration: line-through;
                            margin-left: 10px;
                        }
                    }
                    .van-button{
                        padding: 10px 18px;
                        font-size: 18px;
                        line-height: 1;
                    }
                }
                
            }
        }
    }
}