@import '@/style/variable.scss';
::v-deep .container{
            min-height: 100vh;
            background: url('../../assets/bg1.jpg');
            .logoWrap{
                display: flex;
                align-items: center;
                flex-direction: column;
                padding: 1.6rem 0.8rem;
                transform:translateY(10%);
                .formWrap{
                    width: 100%;
                    margin-top: 180px;
                    .van-button{
                        margin-top: 30px;;
                        width: 100%;
                        background: rgba(255,255,255,0.2);
                        color:#fff;
                        border: none;
                    }
                    .van-cell{
                        background:transparent;
                        color:#fff
                    }
                    .van-field__control{
                        color: #fff;
                    }
                }
                .loginBtnWrap{
                    margin-top: 120px;
                    width: 100%;
                    .van-button{
                        width: 100%;
                        color: white;
                        background-color: rgba($theme, .5)
                    }
                }
            }
        }