@import '@/style/variable.scss';
.container{
    min-height: 100vh;
    .topWrap{
        height: 330px;
        background: $theme;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        .userBar{
            width: 100%;
            display: flex;
            align-items: center;
            .info{
                padding: 0 20px;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-size: 25px;
                color: white;
                .userName{
                    display: flex;
                    justify-content: space-between;
                    .van-cell {
                        background: $theme;
                        color: #fff;
                    }
                }
            }
        }
    }
    .itemWrap{
        padding: 0 60px;
        transform: translateY(-60px);
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .xinxiWrap{
            width: 100%;
            .orderList{
                padding: 30px;
                .svg-icon{
                    width: 48px;
                    height: 48px;
                }
    
            }
            .messageWrap{
                padding: 15px 60px;
            }  
        }
        .settingWrap{
            width: 100%;
        }
        .van-button{
            width: 80%;
            margin-top: 60px;
        }
        
    }
}


.roundWrap{
    border: 1px solid $pink;
    box-shadow: 0px 0px 15px 2px $pink;
    border-radius: 20px;
    background: white;
}