@import '../../style/variable.scss';
.page{
    padding-top: 92px;
    padding-bottom: 100px;
    .goodsImg{

    }
    .container{
        padding: 20px;
        .goodsName{
            font-size: 32px;
            font-weight: 600;
        }
        .desc{
            font-size: 28px;
            font-weight: 500;
        }
        .goodsInfoWrap{
            display: flex;
            justify-content: space-between;
            .price{
                .nowPrice{
                    font-size: 38px;
                    color: $theme;
                    font-weight: 500;
                }
                .oldPrice{
                    font-size: 24px;
                    color: #999999;
                    text-decoration: line-through;
                }
            }
            .kucun{
                color: $theme;
                font-size: 24px;
            }
        }
        .detailPicWrap{
            padding: 20px;
        }
    }
}


::v-deep .van-goods-action {
    
}